$color-accent-main: #3483fa;
$color-white: #ffffff;
$color-black: #000000;
$color-black-gray: #444444;
$color-text-main: #333333;
$color-gray-light: #f0f0f0;
$color-gray-middle: #eaeaea;
$color-gray-dark: #aaaaaa;
